<div class="modal-header">
  <h5 class="text-primary modal-title">
    <h3 class="md-1 mb-1 text-primary">
      <span>{{categorie.name}} </span>
      <span *ngIf="subCategorieSelected!=null">/ {{subCategorieSelected.name}}</span>
    </h3>

    <span>{{stepMessage}}</span>
  </h5>
  <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="fa fa-close"></i>

  </button>
</div>
<div class="modal-body center" data-backdrop="static" data-keyboard="false">

  <div class="container">
    <!-- START choice sousc categories-->
    <div class="tab-content mb-3">
      <div class="row" *ngFor="let sub of categorie.subcategories">
        <label class="btn btn-secondary">
          <input class="md-3" type="radio" name="{{sub.name}}" id="{{sub.name}}" (click)="selectSubCategorie(sub)">
          <i class=" fas {{sub.icon}} text-primary"></i>
          {{sub.name}}
        </label>
      </div>
    </div>
    <!-- END choice sousc categories-->
  </div>