<div class="modal-header">
  <h5 class="text-primary modal-title">
    <h3 class="md-1 mb-1 text-primary">
      <span>{{categorie.name}} </span>
      <span *ngIf="subCategorieSelected!=null">/ {{subCategorieSelected.name}}</span>
    </h3>

    <span>{{stepMessage}}</span>
  </h5>
  <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="fa fa-close"></i>

  </button>
</div>
<div class="modal-body center" data-backdrop="static" data-keyboard="false">

  <div class="container">
    <!-- START choice sousc categories-->
    <div *ngIf="stepSelectSubCategorie">
      <div class="tab-content mb-3">
        <div class="row" *ngFor="let sub of categorie.subcategories">
          <label class="btn btn-secondary">
            <input class="md-3" type="radio" name="{{sub.name}}" id="{{sub.name}}" (click)="selectSubCategorie(sub)">
            <i class=" fas {{sub.icon}} text-primary"></i>
            {{sub.name}}
          </label>
        </div>
      </div>
    </div>
    <!-- END choice sousc categories-->

    <!-- START Filling form-->
    <div *ngIf="stepCreateProduct">
      <form [formGroup]="subProductForm" (ngSubmit)="gotoFixPrice()" validate>

        <!-- choice Offre ou demande-->
        <div class="form-group required row">
          <div class="col-md-6">
            <label for="typeProduct" class="control-label">Type d'annonce</label>
            <div class="custom-control custom-radio col-sm-1 ">
              <input type="radio" class="custom-control-input" formControlName="typeOffre" id="customRadio"
                value="VENTE">
              <label class="custom-control-label" for="customRadio">Vente</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" formControlName="typeOffre" id="customRadio2"
                value="DEMANDE">
              <label class="custom-control-label" for="customRadio2">Demande</label>
            </div>
          </div>
          <!-- type of choice immobilier-->

          <!-- tarif-->
          <div class="col-md-6">
            <label for="prix" class="control-label">Quel est votre prix ?</label>
            <div *ngIf="subProductForm.controls['prix'].errors" class="text-danger">obligatoire</div>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="prix"
                placeholder="Indiquez votre prix.Ex. 10000">
              <div class="input-group-append">
                <span class="input-group-text">
                  <b><var>FCFA</var></b>
                </span>
              </div>

            </div>
          </div>
        </div>
        <!-- fin tarif-->

        <!-- choice Offre ou demande-->
        <div class="form-group form-inline required">
          <label class="form-group required control-label">Quels biens ?</label>
          <div class="form-group col-md-12">
            <div class="custom-radio custom-control-inline-modify col-md-3"
              *ngFor="let type of categorie.typeLogements">
              <label [ngClass]="displayFieldCss(type.code)" (click)="choiceType(type.code)">
                <mat-icon svgIcon="{{type.icon}}"></mat-icon>
                {{type.name}}
              </label>
            </div>
          </div>
        </div>
        <!-- END choice Offre ou demande-->



        <!-- Surface et nb peices-->
        <div class="form-group form-inline required">
          <div class="form-group col-md-6">
            <label class="form-group control-label">Surface : </label>
            <div *ngIf="subProductForm.controls['surface'].errors" class="text-danger">obligatoire</div>
            <input type="text" class="form-control col-md-10" formControlName="surface"
              placeholder="Surface habitable. ex. 100">
            <div class="input-group-append">
              <span class="input-group-text">
                <b><var>M<sup>2</sup></var></b>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="form-group form-inline required">
              <label class="form-group control-label">Nombre de pièces : </label>
              <div *ngIf="subProductForm.controls['nbPieces'].errors" class="text-danger">obligatoire</div>
              <input type="text" class="form-control col-md-12" placeholder="Nombre de pièces. ex. 3"
                formControlName="nbPieces">
            </div>
          </div>
        </div>
        <!-- END  Surface et nb pieces-->

        <!-- Region et quartier-->
        <div class="form-group form-inline required">
          <div class="form-group col-md-4">
            <label class="form-group control-label">Région : </label>
            <div *ngIf="subProductForm.controls['region'].errors" class="text-danger">obligatoire</div>
            <select formControlName="region" (change)="selectRegion($event.target.value)">
              <option selected>Sélectionner</option>
              <option [value]="region.code" *ngFor="let region of country.regions">
                {{region.name}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="regionSelected != null">
            <div class="form-group form-inline required">
              <label class="form-group control-label">departement : </label>
              <div *ngIf="subProductForm.controls['departement'].errors" class="text-danger">obligatoire</div>
              <select formControlName="departement" (change)="selectDepartement($event.target.value)">
                <option selected>Sélectionner</option>
                <option [value]="departement.code" *ngFor="let departement of regionSelected.departements">
                  {{departement.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-4" *ngIf="departementSelected != null">
            <div class="form-group form-inline required">
              <label class="form-group control-label">Ville : </label>
              <div *ngIf="subProductForm.controls['ville'].errors" class="text-danger">obligatoire</div>
              <select formControlName="ville">
                <option selected>Sélectionner</option>
                <option [value]="ville.code" *ngFor="let ville of departementSelected.villes">
                  {{ville.name}}
                </option>
              </select>
            </div>
          </div>

        </div>
        <!-- End Region et quartier-->

        <!-- Titre de l'annonce -->
        <div class="form-group form-inline required col-md-12">
          <label class="form-group control-label">Titre:</label>
          <div *ngIf="subProductForm.controls['titre'].errors" class="text-danger">obligatoire</div>
          <input type="text" class="form-control col-md-12" formControlName="titre"
            placeholder="Titre de l'annonce. ex. Vente appartement 3 pièces">
        </div>
        <!-- END Titre de l'annonce-->

        <!-- Description de l'annonce-->
        <div class="form-group form-inline required col-md-12">
          <label class="form-group control-label">Description de l'annonce:</label>
          <div *ngIf="subProductForm.controls['description'].errors" class="text-danger">obligatoire</div>
          <textarea class="form-control col-md-12" formControlName="description"
            placeholder="Description de l'annonce. ex. Vente appartement 3 pièces"
            placeholder="Ex. Appartement composé de 2 chambres dont une avec salle de bain, une autre avec balcon, un grand salon avec balcon, une cuisine..."
            rows="5"></textarea>

        </div>
        <!-- END Titre de l'annonce-->

      </form>
    </div>

    <div *ngIf="stepLogin">
      <app-login></app-login>
    </div>


    <!-- START adding picture-->
    <div *ngIf="stepAddPicture">
      <input type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="fileProgress($event)" />
      <div class="image-preview mb-3" *ngIf="previewUrl">
        <img [src]="previewUrl" height="300" />
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        Upload an Image
      </button>
    </div>

  </div>

  <div class="modal-footer" *ngIf="stepCreateProduct">
    <button class="btn btn-default" *ngIf="stepCreateProduct" type="button" [disabled]="subCategorieSelected==null"
      (click)="gotoSelectSubcategories()">Précedent</button>
    <button class="btn btn-primary" type="button" [disabled]="subCategorieSelected==null" (click)="gotoLogin()">Ajoutez
      des photos</button>
  </div>