<body class="index-page">
  <div class="section">
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="container" *ngIf="product != null && product.categorie!= null">
      <!-- breadcrumb -->
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" [class.active]="false">
            <a [routerLink]="product.categorie.name">
              {{ product.categorie.name}}
            </a>
          </li>
          <li class="breadcrumb-item" [class.active]="false">
            <a [routerLink]="product.categorie.subcategories[0].name">
              {{ product.categorie.subcategories[0].name}}
            </a>
          </li>
          <li *ngIf="product.categorie.types.length > 0" class="breadcrumb-item" [class.active]="false">
            <a [routerLink]="product.categorie.types[0].name">
              {{ product.categorie.types[0].name}}
            </a>
          </li>
        </ol>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="alert {{product.categorie.color}}" role="alert">
            {{product.titre}} :
            <span class="heading-title text-default mb-0">
              {{product.prix | currency:'XOF':'symbol':'3.0-0':'fr'}}
            </span>

          </div>

          <gallery [items]="photos" [counter]="false"></gallery>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-header">
            <div class="span1">

              <img *ngIf="product.userdata.photo !=null" class="pic-1" [src]="product.userdata.photo.imageUrl"
                width="100px" height="100px">
              <label *ngIf="product.userdata.photo ==null">
                <mat-icon svgIcon='user_icon'></mat-icon>
              </label>

              {{product.userdata.username}}

              <p> Membre depuis {{product.userdata.dateCreation | dateAgo}} <br> {{product.userdata.numberproduct}}
                annonce(s) publié(s)</p>
            </div>
            <div class="span3">
              <ul class="list-group list-group-flush">
                <li *ngIf="!ifShowTel" class="list-group-item"> <button type="button" class="btn btn-sm btn-primary"
                    data-toggle="modal" data-target="#modal-default" (click)="showTel()">Voir le téléphone
                    <i class="fa fa-phone"></i></button>
                </li>
                <li *ngIf="ifShowTel" class="list-group-item">
                  <button type="button" class="btn-sm btn-primary" data-toggle="modal"
                    data-target="#modal-default">{{product.user[0].email}}
                  </button>
                </li>
                <li class="list-group-item">
                  <button type="button" class="btn-sm btn-success" data-toggle="modal"
                    data-target="#modal-default">Contacter par whatsApp <i class="fa fa-whatsapp"
                      aria-hidden="true"></i></button>
                </li>
                <li class="list-group-item">
                  <button type="button" class="btn-sm btn-default " data-toggle="modal"
                    data-target="#modal-default">Contacter par email <i class="fa fa-envelope"
                      aria-hidden="true"></i></button>
                </li>
              </ul>
              <p>admin</p>
              <p><strong>First Last Name</strong></p>
              <span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15
                followers</span>
            </div>


          </div>
        </div>
        <div class="description pl-4">
          <span class="title"> {{product.dateCreation |date: 'dd/MM/yyyy HH:mm:ss'}} (<span
              class="product-discount-label"><i
                class="far fa-clock"></i>{{product.dateCreation | dateAgo}}</span>)</span>

          <!-- biens-->
          <br>
          <h5 class="title">Biens: </h5>
          <div class="wrap-input100" *ngIf="product.categorie.types?.length > 0" [categorie]="product.categorie.code">
            <ul>
              <li>
                <div class="form-group col-md-12">
                  <div *ngFor="let type of product.categorie.types">
                    <label>
                      <mat-icon svgIcon="{{type.icon}}"></mat-icon>
                      {{type.name}}
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <span>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> {{product.villeName}}
                </span>
              </li>
            </ul>


          </div>

          <h5 class="title">Caracteristiques: </h5>
          <!-- vehicules-->
          <div class="wrap-input100 validate-input bg1 rs1-wrap-thirdinput100" ifCategorieVeh
            [categorie]="product.categorie.code">
            <ul>
              <li>
                <span class="label-input100">Marque : {{product.marque}}</span>
              </li>
              <li>
                <span class="label-input100">Modéle : {{product.modele}}</span>
              </li>
              <li>
                <span class="label-input100">Kilométrage : {{product.km}} km</span>
              </li>
              <li>
                <span class="label-input100">Boite de vitesse :
                  {{product.boiteVitesse == 'MANU' ? 'Manuelle' : 'Automatique'}}</span>
              </li>
              <li>
                <span class="label-input100">Carburant : {{product.carburant == 'ESS'? 'Esssence' :  'Diesel'}}</span>
              </li>
              <li>
                <span class="label-input100">Nombre de place : {{product.nbPlaces}}</span>
              </li>

            </ul>

          </div>

          <!-- Immobilier-->
          <div class="wrap-input100 validate-input bg1 rs1-wrap-thirdinput100" ifCategorieImo
            [categorie]="product.categorie.code">
            <ul>
              <li>
                <span class="label-input100">Surface : {{product.surface}} m²</span>
              </li>
              <li>
                <span class="label-input100">Nombre de pieces : {{product.nbPieces}}</span>
              </li>
            </ul>


          </div>

          <h5 class="title">Description: </h5>
          <p> {{product.description}}</p>
          <a href="#" class="text-info">Learn more</a>
        </div>
      </div>
      <!-- end section-->
    </div>
  </div>
  <!-- End Navbar -->
</body>