<body class="index-page">
  <div class="section">
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="page-header container">
      <div class="container">
        <search-product-header [categorie]="categorie" [subCategorie]="subCategorie"
          (notifySubCategorie)='OnNotifySubCategorie($event)' [searchCriteria]="searchCriteria"
          [searchResult]="searchResult" (notifySearchResult)='OnNotifySearchResult($event)'></search-product-header>


        <h2 class="mt-lg-5 mb-3 text-primary" *ngIf="categorie!=null  && subCategorie ==null">
          <span>Annonces : {{categorie.name}} </span>
        </h2>


        <!-- breadcrumb -->
        <div class="col" *ngIf="categorie!=null  && subCategorie !=null">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" [class.active]="false">
              <a [routerLink]="['/categorie/',categorie.code]">
                <i class="fas {{categorie.icon}}"></i>
                {{categorie.name}}
              </a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/subcategorie/',categorie.code,subCategorie]">
                {{ subCategorie.name}}

              </a>
            </li>

          </ol>
        </div>
        <!-- breadcrumb -->

        <div class="row col-md-12 col-lg-12 col-sm-12">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <search-product-aside *ngIf="searchResult != null" [categorie]="categorie" [subCategorie]="subCategorie"
              [searchCriteria]="searchCriteria" [searchResult]="searchResult"
              (notifySearchResult)='OnNotifySearchResult($event)'></search-product-aside>
          </div>

          <div class="col-lg-9 col-md-9 col-sm-6">
            <app-productresult [products]="products"></app-productresult>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navbar -->
</body>