<body class="index-page">
  <div class="section">
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="page-header container">
      <div class="container">
        <search-product-header
          [searchCriteria]="searchCriteria"
          [searchResult]="searchResult"
          (notifySearchResult)="OnNotifySearchResult($event)"
        ></search-product-header>

        <div class="row col-md-12 col-lg-12 col-sm-12">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <search-product-aside
              *ngIf="searchResult != null"
              [searchCriteria]="searchCriteria"
              [searchResult]="searchResult"
              (notifySearchResult)="OnNotifySearchResult($event)"
            ></search-product-aside>
          </div>

          <!-- results products-->
          <div class="col-lg-9 col-md-9 col-sm-6">
            <app-productresult [products]="products"></app-productresult>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navbar -->
</body>
