.modal-dialog .modal-lg{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;
  
  }

.modal-backdrop.show {
    opacity: 2.16!important;
}