@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* You can add global styles to this file, and also import other style files */

html,
body {
 /* height: 100%;*/
  background-color: #fff;

}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  justify-content: space-between;
}

.user-profile {
  margin-left: 15px;
}

.mat-sidenav-container {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
}

.mat-nav-list .mat-list-item {
  font-size: 15px;
}

.nav-tool-items {
  display: inline-block;
  margin-right: 13px;
}

.user-profile {
  margin-left: 15px;
  cursor: pointer;
}

.hamburger {
  visibility: hidden !important;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 15px;
}

.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

.mat-sidenav-content {
  padding: 25px 40px 0;
}

.mat-sidenav {
  background-color: #F2F2F2;
  width: 250px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-sidenav mat-icon {
  margin-right: 12px;
}

.hamburger {
  margin-top: 5px;
  cursor: pointer;
}

.mat-radio-button,
.mat-radio-group {
  margin-right: 25px;
}

.controlers-wrapper>* {
  width: 100%;
  padding: 0;
}

.misc-bottom-padding {
  margin: 8px 0 10px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-wrapper button {
  margin-right: 5px;
}

table.mat-table,
table {
  width: 100%;
}

.inner-wrapper {
  padding: 15px 0 130px;
  width: 100%;
}

.inner-wrapper mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 44%;
}

.full-wrapper {
  width: 100%;
}

.multiple-items {
  position: relative;
}

.multiple-items .tooltip-info {
  right: 0;
  top: 7px;
  cursor: pointer;
  color: #a1a7c7;
  position: absolute;
  font-size: 20px;
}

body .push-right {
  margin-right: 10px;
}

.no-data {
  text-align: center;
  padding-top: 30px;
  color: #6c75a9;
}

.button-wrapper {
  margin: 20px 0 0 0;
}


@media (max-width: 1024px) {

  .inner-wrapper mat-card {
    width: 100%;
  }

  .mat-sidenav-content {
    padding: 20px 20px 0;
  }

  .misc-bottom-padding mat-label {
    display: block;
    padding-bottom: 10px;
  }

  .mat-sidenav {
    width: 230px;
  }

  .mat-nav-list .mat-list-item {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .nav-tool-items {
    margin-right: 0;
  }

  .hamburger {
    visibility: visible !important;
  }
}
/*********************************
4. Banner
*********************************/

.banner
{
	width: 100%;
	padding-top: 68px;
	padding-bottom: 83px;
	overflow: hidden;
}
.banner_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.banner_content
{
	z-index: 1;
}
.banner_text
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 1.166;
	color: #7599b2;
	text-transform: uppercase;
	letter-spacing: 0.038em;
}

.banner_price
{
	font-size: 30px;
	color: #df3b3b;
	margin-top: 87px;
}
.banner_price span
{
	display: inline-block;
	position: relative;
	color: #7e8285;
	margin-right: 14px;
}
.banner_price span::after
{
	display: block;
	position: absolute;
	top: 21px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #8d8d8d;
	content: '';
}
.banner_product_name
{
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	margin-top: 8px;
}
.banner_button
{
	margin-top: 42px;
}
.banner_product_image
{
	position: absolute;
	top: -5px;
	right: -52px;
	z-index: 0;
}

.button
{
	display: inline-block;
	background: #0e8ce4;
	border-radius: 5px;
	height: 48px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
}
.button:hover
{
	opacity: 0.8;
}

/*# custom categorie color */

/*Immobilier*/
.IMO{
  color: #fff;
  background-color: #468abe;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
  text-align: center;
}


.LOC{
  color: #fff;
  background-color: #517edf;
  border-color: #152633;
  min-width: 150px;
  min-height: 40px;
  text-align: center;
}

.VTI{
  color: #fff;
  background-color: #3841c5;
  border-color: #152633;
  min-width: 150px;
  min-height: 40px;
}

.BUC{
  color: #fff;
  background-color: #130597;
  border-color: #152633;
  min-width: 150px;
  min-height: 40px;
}

.COL{
  color: #fff;
  background-color: #7592f1;
  border-color: #152633;
  min-width: 150px;
  min-height: 40px;
}

/*Immobilier*/
.VEH{
  color: #fff;
  background-color: #7bce2d;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}


.MTM{
  color: #fff;
  background-color: #5c105f;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}

.EMP{
  color: #fff;
  background-color: #153f27;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}

.SVC{
  color: #fff;
  background-color: #410e23;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}
.VAC{
  color: #fff;
  background-color: #ec1a1a;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}
.MAS{
  color: #fff;
  background-color: #101825;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}
.MOD{
  color: #fff;
  background-color: #ecd71a;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}
.LOS{
  color: #fff;
  background-color: #281aec;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}
.DIV{
  color: #fff;
  background-color: #525153;
  border-color: #152633;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 150px;
  min-height: 40px;
}