<div class="banner" *ngIf="categorie == null">
  <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
  <div class="container fill_height">
    <div class="row fill_height">
      <div class="col-lg-5  fill_height">
        <div class="banner_content">
          <h1 class="banner_text">Vous cherchez, nous trouvons</h1>
          <div class="button banner_button"><a href="#">Shop Now</a></div>
        </div>
      </div>
      <div class="col-lg-5 fill_height">
        <div class="banner_product_image">
          <img src="assets/img/theme/banner_product.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="search-sec">
  <div class="container">
    <form [formGroup]="searchProductHeaderForm" (ngSubmit)="search()" validate>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-9">
            <div class="input-group my-group">
              <input type="text" class="form-control" class="form-control" formControlName="productName"
                placeholder="Indiquez votre recherche" />
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-3">
            <select formControlName="categorieProduct" title="Selectionner une categorie" class="custom-select">
              <option value="">Category</option>
              <option [value]="categorie.code" *ngFor="let categorie of categories | orderByCustom: 'level': 'asc'">
                {{categorie.name}}
              </option>
            </select>
          </div>
          <div class="col-md-2 col-sm-12 col-3">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" [disabled]="!searchProductHeaderForm.valid"
                (click)="search()">Search</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>

<section class="search-sec" *ngIf="categorie == null">
  <div class="container">
    <div class="row">
      <ul class="navbar-nav col-md-2 col-sm-4 col-lg-2"
        *ngFor="let categorie of categories | orderByCustom: 'level': 'asc'">
        <li class="nav-item">
          <a class="btn btn-sm {{categorie.color}} " type="button" [routerLink]="['/categorie/',categorie.code]">
            <i class="fas {{categorie.icon}}"></i>
            {{categorie.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="search-sec" *ngIf="categorie != null && subCategorie == null">
  <div class="container">
    <div class="row">
      <ul class="navbar-nav col-md-2 col-sm-4 col-lg-2"
        *ngFor="let subCategorie of categorie.subcategories | orderByCustom: 'level': 'asc'">
        <li class="nav-item">
          <a class="btn btn-sm {{categorie.color}} " type="button"
            [routerLink]="['/subcategorie/',categorie.code,subCategorie.code]">
            {{subCategorie.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="search-sec" *ngIf="categorie != null && subCategorie != null">
  <div class="container">
    <div class="row">
      <ul class="navbar-nav col-md-2 col-sm-4 col-lg-2"
        *ngFor="let subCategorie of categorie.subcategories | orderByCustom: 'level': 'asc'">
        <li class="nav-item">
          <a class="btn btn-sm {{categorie.color}} " type="button" (click)="changeSubCategorie(subCategorie)">
            {{subCategorie.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>