<section *ngIf="products!=null">
  <!-- results products-->
  <div class="row">
    <div class="col-md-8 col-sm-12 col-9">
      <h6 class="mt-lg-5 mb-3 text-primary">{{products.length }} annonce(s) trouvée(s)</h6>
    </div>
    <div class="col-md-4 col-sm-12 col-3">
      <select (change)="setOrder($event.target.value)" class="custom-select">
        <option value='dateCreation'>Tri : Date de création</option>
        <option value='prix'>Tri :Prix croissant</option>
        <option value='prix'>Tri :Prix décroissant</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="products!=null">
    <div class="col-lg-4 col-md-4 col-sm-6"
      *ngFor="let product of products | orderBy: order:reverse:'case-insensitive' | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class=" product-grid" id="{{product._id}}">
        <div class="product-image">
          <a [routerLink]="['/product/',product._id]">
            <img *ngIf="product.photos.length > 0" class="pic-1" [src]="product.photos[0].imageUrl" width="220px"
              height="120px"> </a>
          <div *ngIf="product.categorie.types.length > 0" class="price">
            <a [routerLink]="['/home/',product.categorie.types[0].name]">{{product.categorie.types[0].name}}
            </a>
          </div>
          <h3 class="title"><a [routerLink]="['/product/',product._id]">{{product.titre}} <i class="fa fa-map-marker"
                aria-hidden="true"></i>
              <span> {{product.villeName}}</span></a></h3>
          <div class="price">{{product.prix | currency:'XOF':'symbol':'3.0-0':'fr' }}</div>

          <a [routerLink]="['/categorie/',product.categorie.code]" class="product-new-label"><span
              class="{{product.categorie.color }} ">
              {{product.categorie.name}}</span></a>

          <span class="product-discount-label"><i class="far fa-clock"></i>{{product.dateCreation | dateAgo}}</span>
        </div>
        <div class="product-content">
          <ul class="social">
            <li><a [routerLink]="['/product/',product._id]" data-tip="Voir"><i class="fa fa-search"></i></a>
            </li>
            <li><a href="" data-tip="Ajouter à mes favoris"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Partager"><i class="fas fa-share"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
      previousLabel="Précedent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="Page"></pagination-controls>
  </div>
</section>